﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ItStep MyStat Store</h1>
    <p>Visit Original Site <a href="https://mystat.itstep.org/en/main/market/page"> If you have enough patience</a>.</p>
</div>
