* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: #1D1B26;
}

.Header {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.Header p {
    font-size: 13px;
    text-transform: uppercase;
    font-family: Cambria, Georgia, serif;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
    font-weight: bold;
}

.About {
    padding: 100px;
    text-align: center;
}

.About p {
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 1px;
    color: white;
    display: inline-block;
    font-weight: bold;
}

.HomeWorks {
    text-align: center;
}

.HomeWorks h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: silver;
}

.Container {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin: 100px;
    padding: 30px;
}

.button__HomeWork {
    background: #1D1B26;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    width: 200px;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.button__HomeWork::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.button__HomeWork:hover {
    background: rgba(255, 255, 255, 0);
}

.button__HomeWork:hover::before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

.button__HomeWork p {
    color: white;
    font-size: medium;
}

@media screen and (max-width: 900px) {
    .Container {
        flex-direction: column;
        margin: 0;
    }
}