﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <form action="~/Home/Index" method="post">
            <input name="firstNum" type="number"/>
            <select name="action" >
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input name="secondNum" type="number"/>
            <input type="submit" name="Count" value="Calculate" margin-top: 20px" />
        </form>
    </div>
</div>

